
<div id="landing-container">
  <div id="login-container">
    <a href="/auth/twitter">
      <button id="login-button" class="btn btn-large btn-block btn-primary" type="button">
        Sign-in With Twitter To Get Started
      </button>
    </a>
  </div>
</div>