<h3>your tweet(s) will be sent to the following recipients:</h3>
<ul id="selected-list">
</ul>

<script id="stache-selected-politician" type="text/x-mustache">
    <li id="{{id}}">{{name}}
      <img class="selected-image" src="{{image}}"/>
    </li>
</script>
